{% extends 'base.html' %}


{% block content %}

    <section class="masthead-c text-center d-flex">
        <div class="container my-auto">
            <div class="row">
                <div class="col-lg-4 mx-auto text-center">
                    <h5>Mot de passe oublié ?</h5>
                    <hr class="bg-1">
                    <p>Saisissez votre nouveau mot de passe.</p>
                    <form class="input-group-mb" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input class="form-control bg-1 text-white in" type="submit" value="valider"/>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}