{% extends 'base.html' %}


{% block content %}

    <section>
        <div class="container my-auto">
            <div class="row">
                <div class="col-lg-6 mx-auto">
                    <h5 class="text-center">Mon identifiant</h5>
                    <hr class="bg-1">
                    <form method="post" action="{% url 'registration' %}">
                        <div class="form-group">
                            {% csrf_token %}
                        {{ form.as_p }}
                        </div>
                        <input class="form-control bg-1 text-white in" type="submit" value="confirmer"/>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
