{% extends 'base.html' %}

{% block content %}
    <section class="masthead-c text-center d-flex">
        <div class="container my-auto">
            <div class="row">
                <div class="col-lg-6 mx-auto text-center">
                    <h5>Mot de passe oublié ?</h5>
                    <hr class="bg-1">
                    <p>
                        Vous allez recevoir d’ici quelques instants un e-mail contenant les indications à suivre pour réinitialiser
                        votre mot de passe. Si vous ne recevez pas cet e-mail, vérifiez vos courriers indésirables.
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}