{% extends 'base.html' %}


{% block content %}

    <section class="masthead-c d-flex">
        <div class="container my-auto">
            <div class="row">
                <div class="col-lg-6 mx-auto">
                    <h5 class="text-center">Mot de passe oublié ?</h5>
                    <hr class="bg-1">
                    <p class="text-justify">Saisissez et validez l'adresse e-mail de votre compte Pur Beurre.<br>Vous recevrez ensuite par
                        e-mail un lien vers une page vous permettant de créer facilement votre nouveau mot de passe.</p>
                    <form class="form-group" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input class="form-control bg-1 text-white in" type="submit" value="valider"/>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}