{% extends 'base.html' %}

{% block content %}

    <section>
        <div class="container mx-auto text-center">
            <h3>Mes Tableaux</h3>
            <hr>
            {% if list_boards|length == 0 %}
                <p>Aucun tableaux enregistrés</p>
            {% else %}
            <div class="row">
                {% for board in list_boards %}
                    <div class="col-md-4 my-3 text-center">
                        <a class="my-1 bg-6" href="{% url 'favorites' board_id=board.board_id %}">
                            <p class="my-0"><img class="cover rad-b" src="{{ board.product__image }}" height="200px" alt="product"></p>
                            <p class="my-0"><i>{{ board.board__name|capfirst }}</i></p>
                        </a>
                    </div>
                {% endfor %}
            {% endif %}
            </div>
        </div>
    </section>

{% endblock %}